html, body { height:100%; width: 100%; }
body {
    margin: 0;
    background-image: url("../image/background.jpg")  ;
    background-size: cover;
}

#mainBlock{
    position: relative;
    display: flex;
    z-index: 1;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background: none;
    text-align: center;
    background-color: rgba(210, 177, 30, 0.384);
    box-shadow: 0  0 700px black;
    border: solid 3px rgb(107, 69, 13);
}

#leftPanel{
 height: 96%;
 width: 28%;
 border: solid 3px rgb(107, 51, 13);
 border-radius: 20px;
 margin-left: 4px;
 margin-top: auto;
 margin-bottom: auto;
}

#gamePanel {
  width: 42%;
  height: 96%;
  border: solid 3px rgb(107, 51, 13);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
 margin-bottom: auto;
}

#rightPanel {
  width: 28%;
  height: 96%;
  border: solid 3px rgb(107, 51, 13);
  border-radius: 20px;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.ownTable{
  background-color: rgba(165, 42, 42, 0.521);
}

.ownLi{
 background-color: rgba(222, 184, 135, 0.651);
 height: 8.5%;
 border-radius: 20px;
 border: solid 1px rgb(43, 25, 13);
 list-style: none;
 margin-bottom: 0.2em;
 margin-top: 0.2em;
}

.contentLi{
  float: left;
  padding: 7px;
  display: flex;
}

#sumFirstUser, #sumSecondUser{
  font-size: xx-large;
}

#firstLine, #secondLine{
display: flex;

}

.cub {
 height: 50px;
 width: 50px;
 background-color: coral;
 border: solid 2px black;
 margin: 2px;
 z-index: 4;
 margin: auto;
 margin-top: 20px;
 margin-bottom: 5px;
 cursor: pointer;
 outline: none;
}

.cubPlace {
  height: 50px;
  width: 50px;
  background-color: coral;
  border: solid 2px black;
  margin: 2px;
  z-index: 2;
  margin-left: 37px;
  margin-right: 37px;
  margin-top: 5px;
  cursor: pointer;
 }

.score{
  display: flex;
  font-size: xx-large;
}

#dice{
 margin-top: 8px;
}

#up{
  width: 100px;
  font-size: large;
}

#table{
  height: 30%;
  width: 95%;
  border:solid 2px rgb(73, 53, 16);
  border-radius: 20px;
  margin: auto;
  background-image: url("../image/backGame.jpg")  ;
  background-size: cover;
}

#userIcon{
  height: 28%;
}

#avatar1{
  float: left;
  margin: 10px;
}

#avatar2{
  float: right;
  margin: 10px;
}

#leftGroup{
  float: left;
}

#rightGroup{
  float: right;
}

#result{
  position: fixed;
  margin-top: 200px;
  margin-left: -5%;
  height: 60px;
  width: 150px;
  font-size: x-large;
}

#score{
  position: fixed;
  margin-top: 130px;
  margin-left: -5%;
  height: 60px;
  width: 150px;
  font-size: x-large;
}

#group{
  position: fixed;
  margin-top: 50px;
  margin-left: -5%;
  height: 60px;
  width: 150px;
  font-size: xx-large;
}

.chooseCub{
  border: outset 5px green ;
}

.moveCub{
  border: outset 5px rgb(182, 58, 58) ;
}

.user1, .user2{
  border: inset 5px green;
}

#coun{
  margin: 10px;
  font-size: large;
}